<div id="description">
   <h3>Disclaimer</h3> 
   <ul>
      <p>1. I have been forced to program this website against my will. This is how much I love my wife to be.</p>
      <p>2. I don’t endorse Google. </p>
      <p>3. I don’t endorse sentimentality.</p>
      <p>4. I don’t endorse weird hippie commune blessing ceremonies.</p>
      <p>5. I don’t endorse 3-in-1 bands (but I endorse saving money)</p>
   </ul>
</div>
