<html>
   <head>
      <link href='http://fonts.googleapis.com/css?family=Lato:400,300italic' rel='stylesheet' type='text/css'/>
   </head>
   <body>
      <!--
      <div id="title">
         <%= image_tag "title.jpg" %>
      </div>
      -->
      <div id="description">
         <%= image_tag "description.png" %>
      </div>
      <div id="sketch">
         <%= image_tag "sketch.png" %>
      </div>
   </body>
</html>
