<canvas id="dancer-canvas" class="background"></canvas>
<div class="overlay">
   <%= render partial: "shared/title" %>
   <%= render partial: "shared/menu" %>
   <div id="description">
      <p>
      After nine months of traveling the full length of the UK every weekend, 
      five years in Mexico and a move to Istanbul we are getting married.
      Why? 
      It’s about bloody time, that's why.
      </p>
   </div>
</div>
<script type="text/javascript">

   initCanvas(function() {

      var sources = {
         tallFlower : "/assets/tall_flower.png",
         tallFlowerBlown : "/assets/tall_flower_blown.png",
         flower: "/assets/flower.png",
         hinaArmless: "/assets/hina_step_1.png",
         hina2: "/assets/hina_step_2.png",
         hinaArm: "/assets/hina_arm.png"
      };

      var flowerHeight = 150;
      var hina = new Hina(0, window.innerHeight-400, 300, 400, 0);
      var pictures = [hina];
      pictures.push.apply(pictures, initPicturesByType(TallFlower, 100, 150, flowerHeight, 
      {minx:-100, miny:window.innerHeight-flowerHeight, maxy:window.innerHeight-flowerHeight}));

      // title
      canvas(sources, "dancer-canvas", window.innerWidth, window.innerHeight, pictures);
      window.setInterval(function() {
         pictures.push(new FlyingFlower(hina.absX()+hina.width/2, 
            (window.innerHeight-3*flowerHeight/4), 40, 40, -0.11));
         pictures.push(new FlyingFlower(hina.absX()+hina.width/2, 
            (window.innerHeight-3*flowerHeight/4), 40, 40, 0.4));
      }, 5000);
   });


</script>

