</script>

<%= render partial: "shared/title" %>
<div id="music">
   <canvas id="music-canvas">
   </canvas>
</div>
<script type="text/javascript">

   initCanvas(function() {

      var pictures = [];

      var sources = {
         singleNote: "/assets/single_note.png",
         doubleNote: "/assets/double_note.png"
      };

      var pictures = []; 
      var ns = [{x:25, y:250}, {x:50, y:225}, {x:75, y:180}, 
                  {x:325, y:170}, {x:375, y:180}, {x:320, z:250}];
      window.setInterval(function(){
         var n = ns[Math.floor(Math.random()*ns.length)];
         pictures.push(new MoveAndFade("singleNote", n.x, n.y, 20, 20, 7*Math.PI/8));
      }, 400);

      canvas(sources, "music-canvas", window.innerWidth, 200, pictures);
   });

</script>
<%= render partial: "shared/menu" %>
<div id="description">
   <p>
   We need requests for the band and the DJ.
   They’ll be too busy with the ceilidh to put on good tunes otherwise
   </p>
   <p>
   Form with the name of artist and the name of the song.
   </p>
</div>
