<%= h flash[:notice] %>
<div id="sketch">
   <%= image_tag "sketch.jpg" %>
</div>
<div id="description">
   <p>
   This is John and Hina's wedding website. It has all the information
   you need to attend the day and more stuff which will probably bore 
   you. If, for whatever reason it falls short of your expectations 
   please see the <%= link_to "logistics page", the_logistics_path, :"data-no-turbolink" => true %> 
   for ways to bombard us with hate mail.
   </p>
</div>
