<html>
   <head>   
      <script>

         var title; 

         

         function loadImages(sources, callback) {
            var images = {};
            var loadedImages = 0;
            var numImages = 0;
            // get num of sources
            for(var src in sources) {
               numImages++;
            }
            for(var src in sources) {
               images[src] = new Image();
               images[src].onload = function() {
                  if(++loadedImages >= numImages) {
                     callback(images);
                  }
               };
               images[src].src = sources[src];
            }
         }

         function randomAngle() {
            return Math.random() * (Math.PI/6 - -1*Math.PI/6) + -1*Math.PI/6;
         }

         function generatePosition() {
            return 100 + Math.random() * 500 + Math.random() * 100;
         }

         var painter = function(contextWrapper, images) {

            var cw = contextWrapper; 
            var imgs = images; 

            return {
               drawPicture : function (pic) {
                  cw.save();
                  this.rotate(pic);
                  this.opacitate(pic);
                  this.paint(pic);
                  cw.restore();
               },

               paint : function(pic) {
                  cw.drawImage(imgs[pic.image], pic.dpx(), pic.dpy(), pic.width, pic.height);
               },

               rotate : function(pic) {
                  if(typeof pic.angle != 'undefined') {
                     cw.translate(pic.pivotX(), pic.pivotY());
                     cw.rotate(pic.angle);
                  }
               },

               opacitate : function(pic) {
                  if(typeof pic.opacity != 'undefined') {
                     cw.opacitate(pic.opacity);
                  }
               }
            };
         }

         var contextWrapper = function(cxt) {

            var context = cxt;

            return { 

               opacitate : function(opacity) {
                  context.globalAlpha = opacity;
               },

               rotate : function(radians) {
                  context.rotate(radians);
               },

               translate : function(x, y) {
                  context.translate(x, y);
               },

               save : function() {
                  context.save();
               },

               drawImage : function(image, x, y, width, height) {
                  context.drawImage(image, x, y, width, height);
               },

               restore : function() {
                  context.restore();
               }
            }
         };

         function canvas(sources, canvasId, width, height, pictures) {
            var canvas = document.getElementById(canvasId),
            context = canvas.getContext("2d");

            context.canvas.width  = width;
            context.canvas.height = height;

            var pictures = pictures;
            var imgs = {};
            var p;

            var cw = contextWrapper(context);

            loadImages(sources, function(images) {
               imgs = images;
               p = painter(cw, imgs);
               setInterval(draw, 50);
            })


            function draw() {
               canvas.width = canvas.width;

               var i = pictures.length
               while (i--) {
                  var pic = pictures[i];
                  if(pic.cleanUp) {
                     pictures.splice(i, i+1);
                  }
                  else {
                     pic.draw(p); 
                  }
               }
            }
         }

         (function(){
            var initializing = false, fnTest = /xyz/.test(function(){xyz;}) ? /\b_super\b/ : /.*/;

            // The base Class implementation (does nothing)
            this.Class = function(){};

            // Create a new Class that inherits from this class
            Class.extend = function(prop) {
               var _super = this.prototype;

               // Instantiate a base class (but only create the instance,
               // don't run the init constructor)
               initializing = true;
               var prototype = new this();
               initializing = false;

               // Copy the properties over onto the new prototype
               for (var name in prop) {
                  // Check if we're overwriting an existing function
                  prototype[name] = typeof prop[name] == "function" &&
                  typeof _super[name] == "function" && fnTest.test(prop[name]) ?
                  (function(name, fn){
                     return function() {
                        var tmp = this._super;

                        // Add a new ._super() method that is the same method
                        // but on the super-class
                        this._super = _super[name];

                        // The method only need to be bound temporarily, so we
                        // remove it when we're done executing
                        var ret = fn.apply(this, arguments);        
                        this._super = tmp;

                        return ret;
                     };
                  })(name, prop[name]) : prop[name];
               }

               // The dummy class constructor
               function Class() {
                  // All construction is actually done in the init method
                  if ( !initializing && this.init )
                  this.init.apply(this, arguments);
               }

               // Populate our constructed prototype object
               Class.prototype = prototype;

               // Enforce the constructor to be what we expect
               Class.prototype.constructor = Class;

               // And make this class extendable
               Class.extend = arguments.callee;

               return Class;
            };

         })();

         var Pictures = Class.extend({
            init: function(image, x, y, width, height, angle){
               this.image = image;
               this.x = x;
               this.y = y;
               this.width = width;
               this.height = height;
               this.angle = angle;

               this.cleanUp = false;
               this.dy = 0;
               this.dx = 0;
               this.counter = 0;
            },
            pivotX : function() {
               return this.x+(this.width/2);
            },
            pivotY : function() {
               return this.y+(this.height);
            },
            dpx : function() {
               return 0-(this.width/2) + this.dx;
            },
            dpy : function() {
               return 0-this.height + this.dy;
            }
         });

         var Hina = Pictures.extend({
            init : function(image, x, y, width, height, angle) {
               this._super(image, x, y, width, height, angle);
               this.angle = 0;
               this.x = 100;
               this.y = 100;
               this.arm1 = new Arm("hinaArm", this.x+75, this.y+105, 170, 110, 0);
               this.arm2 = new Arm("hinaArm", this.x+75, this.y+105, 170, 110, 0);
               this.hina1 = "hinaArmless"; 
               this.hina2 = "hina2"; 
               this.previousDy = this.dy;
            },
            draw : function(painter) {
               this.counter = this.counter + 0.05;
               this.dx = this.arm1.dx = this.arm2.dx = this.counter*100;
               this.dy = this.arm1.dy = this.arm2.dy = Math.sin(this.counter*4)*50;
               this.arm1.angle = 0.5 + Math.sin(this.counter*2)/2; 
               this.arm2.angle = 0.5 + Math.sin(this.counter*2)/4; 
               this.previousAngle = this.angle;
               if(this.previousDy > this.dy) {
                  this.image = this.hina1;
               }
               else {
                  this.image = this.hina2;
               }
               painter.drawPicture(this);
               painter.drawPicture(this.arm2);
               painter.drawPicture(this);
               painter.drawPicture(this.arm1);
            }
         });

         var Arm = Pictures.extend({
            init : function(image, x, y, width, height, angle) {
               this._super(image, x, y, width, height, angle);
            },
            pivotX : function() {
               return this.x + (this.width/10) + this.dx;
            },
            pivotY : function() {
               return this.y + (this.height/3) + this.dy;
            },
            dpx : function() {
               return (0 - (this.width/10));
            },
            dpy : function() {
               return (0 - (this.height/3));
            }
         });

         var FireEngine = Pictures.extend({
            init : function(image, x, y, width, height, angle) {
               this._super(image, x, y, width, height, angle);
               this.angle = 0;
            },
            draw : function(painter) {
               this.counter = this.counter + 0.05;
               this.dx = -this.counter*50;
               this.dy = Math.sin(this.counter*200);
               painter.drawPicture(this);
            }
         });

         var TallFlower = Pictures.extend({
            init : function(image, x, y, width, height, angle) {
               this._super(image, x, y, width, height, angle);
               this.tallFlower1 = this.image; 
               this.tallFlower2 = "tallFlowerBlown"; 
               this.previousAngle = this.angle;
            },
            draw : function(painter) {
               // height of bounce
               this.counter = this.counter + 0.05;
               this.previousAngle = this.angle;
               this.angle = Math.sin(this.counter)/10; 
               if(this.previousAngle > this.angle) {
                  this.image = this.tallFlower1;
               }
               else {
                  this.image = this.tallFlower2;
               }
               painter.drawPicture(this);
            }
         });

         var Flower = Pictures.extend({
            init : function(image, x, y, width, height, angle) {
               this._super(image, x, y, width, height, angle);
            },
            draw : function(painter) {
               this.counter = this.counter + 0.05;
               this.dx = Math.sin(this.counter*2)*25;
               painter.drawPicture(this);
            }
         });

         var Chicken = Pictures.extend({
            init : function(image, x, y, width, height, angle) {
               this._super(image, x, y, width, height, angle);
            },
            draw : function(painter) {
               this.counter = this.counter + 0.05;
               // speed of bounce
               var point = Math.sin(this.counter*15);
               // height of bounce
               this.dy = point*10;
               if(point < -0.99) {
                  this.angle = randomAngle();
               }
               painter.drawPicture(this);
            }
         });

         var PeckingChicken = Pictures.extend({
            init : function(image, x, y, width, height, angle) {
               this._super(image, x, y, width, height, angle);
               this.chicken1 = "peckingChicken";
               this.chicken2 = "peckingChickenPecking";
               this.angle = 0;
            },
            draw : function(painter) {
               this.counter = this.counter + 0.05;
               if((Math.round(this.counter*10) / 10) % 3 == 0) {
                  this.image = this.chicken2;
               }
               else {
                  this.image = this.chicken1;
               }
               painter.drawPicture(this);
            }
         });

         var Heart = Pictures.extend({
            init : function(image, x, y, width, height, angle) {
               this._super(image, x, y, width, height, angle);
               this.opacity = 1.0;
            },
            draw : function(painter) {
               this.dy = this.dy + -5;
               if((this.y + this.dy) < 300) {
                  if(this.opacity > 0.05) {
                     this.opacity = this.opacity - 0.05;
                  }
                  else {
                     this.opacity = 0;
                     this.cleanUp = true;
                  }
               }
               painter.drawPicture(this);
            }
         });
         
         window.onload = function() {

            var pictures = [];

            function initPictures() {

               pictures.push.apply(pictures, initPicturesByType(Flower, 1, "flower", 100, 100));
               pictures.push.apply(pictures, initPicturesByType(Chicken, 1, "chicken", 80, 100));
               pictures.push.apply(pictures, initPicturesByType(Heart, 1, "heart", 50, 70, function(){
                  setInterval(function() {
                     pictures.push.apply(pictures, initPicturesByType(Heart, 1, "heart", 50, 70));
                  }, 1500);
               }));
               pictures.push.apply(pictures, initPicturesByType(TallFlower, 1, "tallFlower", 300, 225));
               pictures.push.apply(pictures, initPicturesByType(FireEngine, 1, "fireEngine", 300, 225));
               pictures.push.apply(pictures, initPicturesByType(Hina, 1, "hinaArmless", 300, 500));
               pictures.push.apply(pictures, initPicturesByType(PeckingChicken, 1, "peckingChicken", 80, 80));
               return pictures;
            }

            function initPicturesByType(constructor, num, image, width, height, additionals) {
               var types = [];
               for(var i = 0; i < num; i++) {
                  types.push(new constructor(image, generatePosition(), generatePosition(), width, height, randomAngle())); 
               }
               if(additionals) {
                  additionals();
               }
               return types;
            }

            var sources = {
               flower : "./flower.png",
               tallFlower : "./tall_flower.png",
               tallFlowerBlown : "./tall_flower_blown.png",
               chicken : "./chicken.png",
               heart: "./heart.png",
               fireEngine: "./fire_engine.png",
               hinaArmless: "./hina_step_1.png",
               hinaArm: "./hina_arm.png",
               peckingChicken: "./pecking_chicken.png",
               peckingChickenPecking: "./pecking_chicken_pecking.png",
               hinaAndJohnsWedding: "./hina_and_johns_wedding.png",
               hina2: "./hina_step_2.png"
            };

            // random = canvas(sources, "title", window.innerWidth, window.innerHeight, initPictures());

            // title


            random = canvas(sources, "title", window.innerWidth, window.innerHeight, initPictures());
         }

      </script>
   </head>
   <body>
      <canvas id="title">
      </canvas>
      <canvas id="wind">
      </canvas>
   </body>
</html>
