<div id="description">
   <p>
      Enter the details of a guests
   </p>
</div>
<div>
   <% @guest.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
   <% end %>
   <div>
      <%= form_for [@group, @guest] do |f| %>
         <div class="form-element">
            <%= f.text_field :name, placeholder:"Name" %><br />
         </div>
         <div class="form-element">
            <%= f.submit %>
         </div>
      <% end %>
   </div>
</div>


