<div>
   <div>
      <%= @group.name %>
   </div>
   <div>
      <%= @group.email %>
   </div>
   <div>
      <% @group.guests.each do |guest| %>
         <div>
            <%= guest.name %>
         </div>
      <% end %>
   </div>
   <div>
      <%= link_to "Add guest to group", new_group_guest_path(@group) %>
   </div>
</div>
