<div id="footer">
   Wedstival 2015 | See you there | <%= link_to "Disclaimer", disclaimer_path, :"data-no-turbolink" => true  %> |
      <% if current_user %>
         <%= link_to "Admin", admin_admin_path %> | <%= link_to "Logout", logout_path %>
      <% else %>
         <%= link_to "Login", login_path %>
      <% end %>
</div>
