<div id="footer">
   <!--
   Disclaimers 
   <ul>
      <li>1. I have been forced to program this website against my will. This is how much I love my wife to be. 2. I don’t endorse Google. 3. I don’t endorse sentimentality.</li>
   <li>4. I don’t endorse weird hippie commune blessing ceremonies.
   5. I don’t endorse 3-in-1 bands (but I endorse saving money)</li>
   </ul>
   -->
   Wedstival 2015 | See you there | <%= link_to "Disclaimer", disclaimer_path %>
</div>
